body{
    background-color: rgb(88, 86, 86)
    
}


#player-one {
    background-color: rgb(201, 105, 105);
    text-align: center;
    color: rgb(19, 17, 17);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(180, 29, 29);
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    padding-bottom: 100px;
    padding-top: 5px;
    font-size: large;
}


.player-name {
    text-align: center;
}

#player-two { 
    
    background-color: rgb(99, 99, 170);
    text-align: center;
    border-style: solid;
    border-color: rgb(15, 15, 189);
    border-width: 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 100px;
    padding-top: 5px;
    font-size: large;
}

#buttons {
    text-align: center; 
    font-size: large;
    
}

#row {
    text-align: center;
}