:root {
  --whiteMana: #f9faf4;
  --blueMana: #0e68ab;
  --blackMana: #150b00;
  --redMana: #d3202a;
  --greenMana: #00733e;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  text-align: center;
}

body {
  margin-bottom: 60px;
  clear: both;
  background-color: var(--success);
}

.cardData {
  background-color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
}

.cardImage-container {
  height: 100px;
}

.deckInput {
  background-color: var(--primary);
}

.manaCheckBox input[type='checkbox'] {
  opacity: 0;
}

.manaCheckBox label {
  position: relative;
  display: inline-block;

  padding-left: 7px;
}

.manaCheckBox label::before {
  position: absolute;
  content: '';
  display: inline-block;
}

.manaCheckBox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
  border-radius: 50%;
  left: -12px;
  top: 3px;
}

.manaCheckBox input[type='checkbox'] + label::before {
  background-color: var(--primary);
}

.white input[type='checkbox']:checked + label::before {
  background-color: var(--whiteMana);
}
.blue input[type='checkbox']:checked + label::before {
  background-color: var(--blueMana);
}
.black input[type='checkbox']:checked + label::before {
  background-color: var(--blackMana);
}
.red input[type='checkbox']:checked + label::before {
  background-color: var(--redMana);
}
.green input[type='checkbox']:checked + label::before {
  background-color: var(--greenMana);
}
.chartContainer {
  background-color: var(--whiteMana);
  padding: 10px;
  border-radius: 15px;
}

#opponent {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#user {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.center-image img {
  max-width: 100%;
  max-height: 100%;
}

p {
  white-space: pre-wrap;
}

.lcBtn {
  height: 50px;
}

.wMana, .uMana, .bMana, .rMana, .gMana{
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  border: black solid thin;
 margin-left: 5px;
}

.wMana{
  background-color: var(--whiteMana);
}
.uMana{
  background-color: var(--blueMana);
}
.bMana{
  background-color: var(--blackMana);
}
.rMana{
  background-color: var(--redMana);
}
.gMana{
  background-color: var(--greenMana);
}

.bigMana{
  height: 20px;
  width: 20px;
}